<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Gesture-Play</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>GESTURE-PLAY</h1>
        <a class="config-topbar" href="/config"><button>Configuración</button></a>
    </header>

    <div class="url-input">
        <form onsubmit="cargarVideo(); return false;">
            <input type="text" id="videoURL" placeholder="Pega enlace de YouTube" required>
            <button type="submit" class="submit">Cargar Video</button>
        </form>
    </div>

    <div class="main-container">
        <div class="left-panel">
            <div id="player"></div>
            <div id="volumen-container">
                <p>Volumen: <span id="volumen-num">--</span>%</p>
                <div class="barra-volumen">
                    <div id="volumen-fill"></div>
                </div>
            </div>
        </div>

        <div class="right-panel">
            <video id="video" autoplay playsinline></video>
            <img id="imagen-procesada" alt="Procesado">
            <div id="prediccion-live">Detectando gesto...</div>
        </div>
    </div>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ url_for('static', filename='src/main.js') }}"></script>
</body>

</html>
